h1 {color: floralwhite; text-align: center;}
h1 {font-size: 200%;}

h2 {color: gold; text-align: center;}
h2 {font-size: 150%;}

h3 { color: pink; text-align: center;}
h3 {font-size: 100%;}
body {background-color: darkmagenta; text-align: center;}